In [289]:
import numpy as np 
import pandas as pd 
from sklearn.cluster import KMeans 
from sklearn.mixture import GaussianMixture as GMM
import plotly.graph_objs as go 
import plotly.offline as po
from plotly.subplots import make_subplots 
from PIL import Image

In [290]:
df=pd.read_csv('df_train.csv',index_col=0)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16374,16375,16376,16377,16378,16379,16380,16381,16382,16383
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.401423,2.109968,0.0,3.244040,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.804171,1.117670,0.0,1.540733,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.286839,0.648386,0.0,0.365375,0.0
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.465765,0.000000,0.0,0.000000,0.0
102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.878799,1.082086,0.0,1.526092,0.0

In [291]:
df.loc[:,'Cluster']=0

In [292]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16375,16376,16377,16378,16379,16380,16381,16382,16383,Cluster
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.401423,2.109968,0.0,3.244040,0.0,0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.804171,1.117670,0.0,1.540733,0.0,0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.286839,0.648386,0.0,0.365375,0.0,0
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.465765,0.000000,0.0,0.000000,0.0,0
102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.878799,1.082086,0.0,1.526092,0.0,0

**Applying Clustering**

In [293]:
gmm=KMeans(n_clusters=10)
df.loc[:,'Cluster']=gmm.fit_predict(df.iloc[:,:-1])

In [294]:
df.Cluster.value_counts()

5    68
3    55
9    44
2    41
0    39
6    36
1    27
4    23
7    18
8    13
Name: Cluster, dtype: int64

In [295]:
df.to_csv('df_train.csv')

In [296]:
list(df.Cluster.value_counts().index)[:4]

[5, 3, 9, 2]

**Visualization**

In [297]:
n=10;m=15
fig = make_subplots(rows=n, cols=m) 
rows=list(df.Cluster.value_counts().index)
for row in range(0,n):
    for clm in range(0,m):
        img=Image.open('dataset/train/{}.jpg'.format(df[df.Cluster==rows[row]].sample(n=1).index[0])).resize((200,200)).convert('L')
        img=np.array(img)[::-1,:]
        img=go.Heatmap(z=img, colorscale='gray')
        fig.add_trace(img,row=row+1,col=clm+1)  

layout=go.Layout(title='Visualization of Images from Dance Form Prediction Datasets After KMeans Clustering',height=1500,width=2550) 
fig=fig.update_layout(layout)
fig=fig.update_xaxes(showticklabels=False)
fig=fig.update_yaxes(showticklabels=False)
fig=fig.update_traces(showscale=False)
po.plot(fig)

'temp-plot.html'